#ifndef SECRETS_H__
#define SECRETS_H__

#define WIFI_SSID "MYWIFI"
#define WIFI_PASSWORD "WIFIPASSWORD"
#define REMOTE_MODBUS_IP \
    {                    \
        192, 168, 1, 100 \
    }
#define REMOTE_MODBUS_PORT 505
#endif // SECRETS_H__